Repository edenia/eden-smart-proxy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, git add ., prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["eslint --fix", "git add ."],
  "*.json": ["prettier --write", "git add ."],
  "*.md": ["prettier --write", "git add ."]
}

fix(webapp): fix eslint errors
  src/components/Layout/Header/index.tsx
  src/components/Layout/index.tsx
Due: eslint --fix, git add .

feat(smartproxy): backbone
  contracts/.clang-format
  contracts/.gitignore
  contracts/.vscode/c_cpp_properties.json
  contracts/.vscode/launch.json
  contracts/.vscode/settings.json
  contracts/CMakeLists.txt
  contracts/README.md
  contracts/docker/builder.Dockerfile
  contracts/docker_build.sh
  contracts/eden/CMakeLists.txt
  contracts/eden/include/eden/constants.hpp
  contracts/eden/include/eden/eden.hpp
  contracts/eden/include/eden/utils.hpp
  contracts/eden/src/eden.cpp
  contracts/myvoteeosdao/CMakeLists.txt
  contracts/myvoteeosdao/include/myvoteeosdao/myvoteeosdao.hpp
  contracts/myvoteeosdao/src/myvoteeosdao.cpp
  contracts/smartproxy/CMakeLists.txt
  contracts/smartproxy/include/smartproxy.hpp
  contracts/smartproxy/src/smartproxy.cpp
  contracts/smartproxy/tests/include/tester-base.hpp
  contracts/smartproxy/tests/tests.cpp
Due: git add ., prettier --write

perf(smartproxy): start update_votes action
  contracts/smartproxy/include/smartproxy.hpp
  contracts/smartproxy/src/smartproxy.cpp
Due: none

perf(smartproxy): set get_member as static function
  contracts/eden/include/eden/constants.hpp
  contracts/eden/include/eden/eden.hpp
  contracts/eden/src/eden.cpp
  contracts/smartproxy/include/smartproxy.hpp
  contracts/smartproxy/src/smartproxy.cpp
Due: none

ci(github): adds pull request template
  .github/pull_request_template.md
Due: git add ., prettier --write

perf(smartproxy): create refreshvotes action
  contracts/eden/include/eden/eden.hpp
  contracts/eden/src/eden.cpp
  contracts/myvoteeosdao/include/myvoteeosdao/myvoteeosdao.hpp
  contracts/myvoteeosdao/src/myvoteeosdao.cpp
  contracts/smartproxy/CMakeLists.txt
  contracts/smartproxy/include/smartproxy.hpp
  contracts/smartproxy/src/smartproxy.cpp
  contracts/smartproxy/tests/include/tester-base.hpp
  contracts/smartproxy/tests/tests.cpp
Due: none

perf(smartproxy): vote for multiple bps
  contracts/smartproxy/include/smartproxy.hpp
  contracts/smartproxy/src/smartproxy.cpp
  contracts/smartproxy/tests/tests.cpp
Due: none

ci(github): add ci/cd pipeline
  .env
  .env.example
  .github/workflows/publish-prod.yaml
  .gitignore
  Dockerfile
  README.md
  k8s/deployment.yml
  k8s/ingress.yml
  k8s/service.yml
  makefile
  utils/meta.mk
Due: git add ., prettier --write

docs(readme): update readme
  .gitignore
Due: none

ci(github): add ci/cd pipeline
  .env
Due: none

perf(smartproxy): create proxyvote action and general fix
  contracts/myvoteeosdao/include/myvoteeosdao/myvoteeosdao.hpp
  contracts/myvoteeosdao/src/myvoteeosdao.cpp
  contracts/smartproxy/include/smartproxy.hpp
  contracts/smartproxy/src/smartproxy.cpp
  contracts/smartproxy/tests/include/tester-base.hpp
  contracts/smartproxy/tests/tests.cpp
Due: none

perf(smartproxy): create on_vote function to reuse code
  contracts/smartproxy/include/smartproxy.hpp
  contracts/smartproxy/src/smartproxy.cpp
  contracts/smartproxy/tests/tests.cpp
Due: none

docs(readme): update readme
  README.md
  docs/images/logo_edeneos.png
Due: git add ., prettier --write

Update README.md
  README.md
Due: git add ., prettier --write

docs(readme): update readme
  README.md
Due: git add ., prettier --write

fix(smartproxy): voting weight
  contracts/smartproxy/include/smartproxy.hpp
  contracts/smartproxy/src/smartproxy.cpp
  contracts/smartproxy/tests/include/tester-base.hpp
  contracts/smartproxy/tests/tests.cpp
Due: none

docs(smartproxy): add README content
  contracts/README.md
  contracts/smartproxy/src/smartproxy.cpp
Due: git add ., prettier --write

docs(smartproxy): add instructions to compile the smart contract
  README.md
Due: git add ., prettier --write

fix(smartproxy): check message
  contracts/smartproxy/src/smartproxy.cpp
Due: none

feat(contracts): test creation
  contracts/smartproxy/tests/include/tester-base.hpp
  contracts/smartproxy/tests/tests.cpp
Due: none

docs(README): text suggestions
  contracts/README.md
Due: git add ., prettier --write

fix(contract): refresh votes action
  contracts/eden/CMakeLists.txt
  contracts/eden/include/eden/eden.hpp
  contracts/eden/include/eden/members.hpp
  contracts/eden/src/actions/members.cpp
  contracts/eden/src/eden.cpp
  contracts/eden/src/members.cpp
  contracts/smartproxy/CMakeLists.txt
  contracts/smartproxy/include/smartproxy.hpp
  contracts/smartproxy/src/smartproxy.cpp
  contracts/smartproxy/tests/include/tester-base.hpp
  contracts/smartproxy/tests/tests.cpp
Due: none

docs(readme): update github readme
  README.md
  contracts/myvoteeosdao/include/myvoteeosdao/myvoteeosdao.hpp
  utils/meta.mk
Due: git add ., prettier --write

docs(readme): update github readme
  package.json
Due: git add ., prettier --write

Rebrand from eoscr to edenia for github org transfer (#11)
  README.md
  contracts/myvoteeosdao/include/myvoteeosdao/myvoteeosdao.hpp
  package.json
  utils/meta.mk
Due: git add ., prettier --write

perf(contract): refreshvotes
  contracts/smartproxy/include/smartproxy.hpp
  contracts/smartproxy/src/smartproxy.cpp
  contracts/smartproxy/tests/tests.cpp
Due: none

perf(contract): add missing remove record on rmvote
  contracts/smartproxy/src/smartproxy.cpp
Due: none

fix(contract): clean code
  contracts/eden/include/eden/eden.hpp
  contracts/eden/include/eden/members.hpp
Due: none

feat(contract): ban bps and update unit tests
  contracts/myvoteeosdao/include/myvoteeosdao/myvoteeosdao.hpp
  contracts/myvoteeosdao/src/myvoteeosdao.cpp
  contracts/smartproxy/include/smartproxy.hpp
  contracts/smartproxy/src/smartproxy.cpp
  contracts/smartproxy/tests/tests.cpp
Due: none

docs(contract): include banbp and unbanbp in the README
  contracts/README.md
Due: git add ., prettier --write

Update publish-prod.yaml
  .github/workflows/publish-prod.yaml
Due: none

feat(webapp): create queries to the blockchain
  .env.example
  .github/workflows/publish-prod.yaml
  Dockerfile
  makefile
  package.json
  src/config/hostBill/index.ts
  src/config/index.ts
  src/config/sdk.ts
  src/utils/eos.ts
  src/utils/index.ts
  src/utils/smart-proxy.ts
  yarn.lock
Due: eslint --fix, git add ., prettier --write

feat(webapp): clean code
  src/utils/smart-proxy.ts
Due: eslint --fix, git add .

ci(webapp): build and deploy workflow
  .github/workflows/publish-prod.yaml
  utils/meta.mk
Due: none

feat(webapp): clean code
  src/utils/index.ts
Due: eslint --fix, git add .

fix(webapp): build and deploy workflow
  .github/workflows/publish-prod.yaml
  makefile
Due: none

fix(webapp): build and deploy workflow
  utils/meta.mk
Due: none

feat(webapp): get members templates
  .env.example
  .github/workflows/publish-prod.yaml
  Dockerfile
  makefile
  package.json
  src/config/sdk.ts
  src/utils/atomicassets.ts
  src/utils/index.ts
  src/utils/smart-proxy.ts
  yarn.lock
Due: eslint --fix, git add ., prettier --write
