Repository edenia/eden-smart-proxy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, git add ., prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["eslint --fix", "git add ."],
  "*.json": ["prettier --write", "git add ."],
  "*.md": ["prettier --write", "git add ."]
}

perf(reward): backbone
  contracts/proxyreward/CMakeLists.txt
  contracts/proxyreward/include/constants.hpp
  contracts/proxyreward/include/distribution.hpp
  contracts/proxyreward/include/proxyreward.hpp
  contracts/proxyreward/include/reward.hpp
  contracts/proxyreward/include/voter.hpp
  contracts/proxyreward/src/actions/distribution.cpp
  contracts/proxyreward/src/actions/voter.cpp
  contracts/proxyreward/src/distribution.cpp
  contracts/proxyreward/src/proxyreward.cpp
  contracts/proxyreward/src/reward.cpp
  contracts/proxyreward/src/voter.cpp
Due: none

perf(proxyreward): update voter staked amount
  contracts/proxyreward/include/distribution.hpp
  contracts/proxyreward/include/reward.hpp
  contracts/proxyreward/include/voter.hpp
  contracts/proxyreward/src/actions/distribution.cpp
  contracts/proxyreward/src/distribution.cpp
  contracts/proxyreward/src/voter.cpp
Due: none

perf(proxyreward): update reward formula
  contracts/proxyreward/include/accounts.hpp
  contracts/proxyreward/include/constants.hpp
  contracts/proxyreward/include/distributions.hpp
  contracts/proxyreward/include/voters.hpp
  contracts/proxyreward/src/accounts.cpp
  contracts/proxyreward/src/actions/distributions.cpp
  contracts/proxyreward/src/actions/voters.cpp
  contracts/proxyreward/src/distributions.cpp
  contracts/proxyreward/src/reward.cpp
  contracts/proxyreward/src/voters.cpp
Due: none

feat(fund): create new contract
  contracts/proxyfund/CMakeLists.txt
  contracts/proxyfund/include/constants.hpp
  contracts/proxyfund/include/fund.hpp
  contracts/proxyfund/include/utils.hpp
  contracts/proxyfund/src/fund.cpp
  contracts/proxyfund/tests/include/tester-base.hpp
  contracts/proxyfund/tests/tests-fund.cpp
  contracts/proxyreward/include/accounts.hpp
  contracts/proxyreward/include/constants.hpp
  contracts/proxyreward/include/distributions.hpp
  contracts/proxyreward/include/reward.hpp
  contracts/proxyreward/src/accounts.cpp
  contracts/proxyreward/src/actions/accounts.cpp
  contracts/proxyreward/src/actions/distributions.cpp
  contracts/proxyreward/src/distributions.cpp
  contracts/proxyreward/src/voters.cpp
Due: none

perf(fund): finish a distribution
  contracts/proxyreward/include/accounts.hpp
  contracts/proxyreward/src/accounts.cpp
  contracts/proxyreward/src/distributions.cpp
Due: none

perf(reward): header files improvement
  .gitignore
  contracts/proxyreward/CMakeLists.txt
  contracts/proxyreward/include/distributions.hpp
  contracts/proxyreward/src/actions/distributions.cpp
  contracts/proxyreward/src/actions/voters.cpp
  contracts/proxyreward/src/voters.cpp
Due: none

perf(fund): remove util file
  contracts/proxyfund/include/utils.hpp
Due: none

feat(components): updated telegram chanel link
  .env.example
  src/config/constants/footer.ts
Due: eslint --fix, git add .

fix(pages): fixed telegram link on voters page
  src/components/Voters/Body/index.tsx
Due: eslint --fix, git add .

feat(components): added delegate button on mobile version
  public/locales/cn/common.json
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/ko/common.json
  src/components/DelegateButton/index.tsx
  src/components/LanguageSelector/index.tsx
  src/components/LanguageSelector/styles.ts
  src/components/Layout/Header/index.tsx
  src/components/Layout/Header/styles.ts
  src/components/Layout/styles.ts
  src/components/Sidebar/index.tsx
  src/components/Sidebar/styles.ts
  voter/src/index.js
Due: eslint --fix, git add ., prettier --write

fix(proxyreward): compilation errors
  contracts/build.sh
  contracts/proxyreward/CMakeLists.txt
  contracts/proxyreward/include/accounts.hpp
  contracts/proxyreward/include/distributions.hpp
  contracts/proxyreward/include/reward.hpp
  contracts/proxyreward/include/voters.hpp
  contracts/proxyreward/src/accounts.cpp
  contracts/proxyreward/src/actions/accounts.cpp
  contracts/proxyreward/src/actions/voters.cpp
  contracts/proxyreward/src/distributions.cpp
  contracts/proxyreward/tests/include/tester-base.hpp
  contracts/proxyreward/tests/tests-proxyreward.cpp
Due: none

perf(proxyreward): include ENABLE_TESTING_BYPASS to improve testing
  contracts/CMakeLists.txt
  contracts/proxyfund/include/constants.hpp
  contracts/proxyfund/src/fund.cpp
  contracts/proxyreward/CMakeLists.txt
  contracts/proxyreward/include/distributions.hpp
  contracts/proxyreward/include/reward.hpp
  contracts/proxyreward/src/accounts.cpp
  contracts/proxyreward/src/actions/accounts.cpp
  contracts/proxyreward/src/actions/distributions.cpp
  contracts/proxyreward/src/actions/voters.cpp
  contracts/proxyreward/src/distributions.cpp
  contracts/proxyreward/src/voters.cpp
  contracts/proxyreward/tests/include/tester-base.hpp
  contracts/proxyreward/tests/tests-proxyreward.cpp
Due: none

perf(token): add token contract for testing purpose
  contracts/proxyfund/include/constants.hpp
  contracts/proxyfund/src/fund.cpp
  contracts/proxyfund/tests/include/tester-base.hpp
  contracts/token/CMakeLists.txt
  contracts/token/README.md
  contracts/token/include/token/token.hpp
  contracts/token/include/token/token_ricardian.hpp
  contracts/token/src/token.cpp
Due: git add ., prettier --write

fix(fund): correct constant values
  contracts/CMakeLists.txt
  contracts/proxyfund/include/constants.hpp
  contracts/proxyfund/include/fund.hpp
  contracts/proxyfund/src/fund.cpp
  contracts/proxyreward/include/reward.hpp
  contracts/proxyreward/src/actions/accounts.cpp
  contracts/proxyreward/tests/include/tester-base.hpp
  contracts/proxyreward/tests/tests-proxyreward.cpp
Due: none

fix(reward): add compile variable for testing
  contracts/proxyreward/CMakeLists.txt
  contracts/proxyreward/src/actions/distributions.cpp
  contracts/proxyreward/src/distributions.cpp
  contracts/proxyreward/src/voters.cpp
  contracts/proxyreward/tests/include/tester-base.hpp
  contracts/proxyreward/tests/tests-proxyreward.cpp
Due: none

perf(reward): test distribution
  contracts/proxyreward/include/distributions.hpp
  contracts/proxyreward/include/voters.hpp
  contracts/proxyreward/src/actions/distributions.cpp
  contracts/proxyreward/src/distributions.cpp
  contracts/proxyreward/src/voters.cpp
  contracts/proxyreward/tests/tests-proxyreward.cpp
Due: none

fix(mint): update the voter state
  contracts/proxyreward/include/voters.hpp
  contracts/proxyreward/src/actions/accounts.cpp
  contracts/proxyreward/src/distributions.cpp
  contracts/proxyreward/src/voters.cpp
  contracts/proxyreward/tests/tests-proxyreward.cpp
Due: none

perf(reward): add tests for preventing claims
  contracts/proxyreward/include/distributions.hpp
  contracts/proxyreward/include/reward.hpp
  contracts/proxyreward/include/voters.hpp
  contracts/proxyreward/src/actions/voters.cpp
  contracts/proxyreward/src/distributions.cpp
  contracts/proxyreward/src/voters.cpp
  contracts/proxyreward/tests/include/tester-base.hpp
  contracts/proxyreward/tests/tests-proxyreward.cpp
Due: none

refactor(reward): update TODO comments
  contracts/proxyreward/src/actions/accounts.cpp
  contracts/proxyreward/src/voters.cpp
  contracts/proxyreward/tests/tests-proxyreward.cpp
Due: none

perf(reward): add unit test for token transfers
  contracts/proxyreward/include/reward.hpp
  contracts/proxyreward/src/actions/accounts.cpp
  contracts/proxyreward/tests/include/tester-base.hpp
  contracts/proxyreward/tests/tests-proxyreward.cpp
Due: none

perf(reward): create inactive scope for accounts stop voting for the proxy
  contracts/proxyreward/include/reward.hpp
  contracts/proxyreward/include/voters.hpp
  contracts/proxyreward/src/actions/voters.cpp
  contracts/proxyreward/src/distributions.cpp
  contracts/proxyreward/src/voters.cpp
  contracts/proxyreward/tests/tests-proxyreward.cpp
Due: none

refactor(reward): clean code
  contracts/proxyreward/tests/tests-proxyreward.cpp
Due: none

feat(reward): add flag to changercpt for admin purposes
  contracts/proxyreward/include/distributions.hpp
  contracts/proxyreward/include/reward.hpp
  contracts/proxyreward/include/voters.hpp
  contracts/proxyreward/src/actions/voters.cpp
  contracts/proxyreward/src/reward.cpp
  contracts/proxyreward/src/voters.cpp
  contracts/proxyreward/tests/tests-proxyreward.cpp
Due: none

perf(reward): require signup for inactive accounts
  contracts/proxyreward/include/distributions.hpp
  contracts/proxyreward/src/distributions.cpp
  contracts/proxyreward/src/voters.cpp
Due: none

perf(reward): unit test for skipping distribution
  contracts/proxyreward/src/distributions.cpp
  contracts/proxyreward/tests/include/tester-base.hpp
  contracts/proxyreward/tests/tests-proxyreward.cpp
Due: none

docs(reward): add README
  contracts/proxyreward/README.md
  docs/images/edenproxyrwd_table_account.png
  docs/images/edenproxyrwd_table_distribution.png
  docs/images/edenproxyrwd_table_voter.png
  docs/images/edenproxyrwd_variant_current_distribution.png
  docs/images/edenproxyrwd_variant_next_distribution.png
  docs/images/edenproxyrwd_variant_prepare_distribution.png
  docs/images/edenprxfunds_permission_structure.png
Due: git add ., prettier --write

docs(funds): add README
  contracts/proxyfund/README.md
Due: git add ., prettier --write

refactor(funds): clean code
  contracts/proxyreward/include/accounts.hpp
  contracts/proxyreward/include/constants.hpp
  contracts/proxyreward/include/distributions.hpp
  contracts/proxyreward/include/reward.hpp
  contracts/proxyreward/src/accounts.cpp
  contracts/proxyreward/src/actions/accounts.cpp
  contracts/proxyreward/src/actions/voters.cpp
  contracts/proxyreward/src/voters.cpp
  contracts/proxyreward/tests/tests-proxyreward.cpp
Due: none

refactor(funds): clean code 2
  contracts/CMakeLists.txt
  contracts/proxyreward/CMakeLists.txt
Due: none

fix(reward): reward amount in unit test
  contracts/proxyreward/tests/tests-proxyreward.cpp
Due: none

perf(reward): exclude tests if bypass is off
  contracts/proxyreward/tests/tests-proxyreward.cpp
Due: none

fix(reward): rename name for voter_info table struct
  contracts/proxyreward/include/voters.hpp
Due: none

fix: add signup action callback
  public/locales/cn/common.json
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/ko/common.json
  src/pages/delegator/DelegatorActions.tsx
  src/pages/delegator/index.tsx
  src/pages/delegator/styles.ts
  src/utils/formatters.ts
Due: eslint --fix, git add ., prettier --write

feat: connect with smart contract
  package.json
  public/locales/cn/common.json
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/ko/common.json
  src/components/Layout/Header/index.tsx
  src/config/wallet/index.ts
  src/context/state.context.tsx
  src/pages/delegator/index.tsx
  src/pages/delegator/styles.ts
  yarn.lock
Due: eslint --fix, git add ., prettier --write

fix: fix loop on delegator page
  src/components/Layout/Header/index.tsx
  src/pages/delegator/DelegatorActions.tsx
  src/pages/delegator/index.tsx
Due: eslint --fix, git add .

feat: mobile version fix
  src/pages/delegator/styles.ts
Due: eslint --fix, git add .

feat: add delegator opage
  public/locales/cn/common.json
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/ko/common.json
  src/components/Sidebar/Delegator.svg.tsx
  src/components/Sidebar/index.tsx
  src/context/state.context.tsx
  src/pages/delegator/index.tsx
  src/pages/delegator/styles.ts
Due: eslint --fix, git add ., prettier --write

fix: replace Eden Smart Proxy to EOS Smart Proxy
  public/locales/cn/common.json
  public/locales/en/common.json
  public/locales/es/common.json
  src/config/seo/index.ts
Due: eslint --fix, git add ., prettier --write

fix: code factor changes
  src/pages/delegator/DelegatorActions.tsx
Due: eslint --fix, git add .

fix: review i18n values
  src/pages/delegator/DelegatorActions.tsx
  src/pages/delegator/index.tsx
Due: eslint --fix, git add .
