Repository edenia/eden-smart-proxy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, git add ., prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["eslint --fix", "git add ."],
  "*.json": ["prettier --write", "git add ."],
  "*.md": ["prettier --write", "git add ."]
}

perf(webapp): rename variable
  src/utils/atomicassets.ts
Due: eslint --fix, git add .

feat(homepage): development homepage
  package.json
  public/icons/language-icon.png
  public/images/avatar-image.png
  public/images/bg-home.png
  public/logos/eden-proxy-logo.png
  src/components/Home/Body/index.tsx
  src/components/Home/Body/styles.ts
  src/components/Home/Bottom/index.tsx
  src/components/Home/Head/index.tsx
  src/components/Home/Head/styles.ts
  src/components/LanguageSelector/index.tsx
  src/components/LanguageSelector/styles.ts
  src/components/Layout/index.tsx
  src/components/index.ts
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/styles.ts
  yarn.lock
Due: eslint --fix, git add ., prettier --write

fix(actions) adjust to action build deploy prod
  .github/workflows/publish-prod.yaml
  utils/meta.mk
Due: none

fix(actions) adjust to action build deploy prod
  makefile
  utils/meta.mk
Due: none

Adjust to action build deploy (#18)
  .github/workflows/publish-prod.yaml
  makefile
  utils/meta.mk
Due: none

feat(pages): finish home page
  package.json
  public/icons/twitter-icon.png
  public/icons/verified-icon.png
  src/components/Home/Body/index.tsx
  src/components/Home/Body/styles.ts
  src/components/Home/Bottom/index.tsx
  src/components/Home/Bottom/styles.ts
  src/config/theme/index.ts
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/styles.ts
  yarn.lock
Due: eslint --fix, git add ., prettier --write

feat(pages): finish home page
  src/pages/index.tsx
  src/pages/styles.ts
Due: eslint --fix, git add .

fix(actions) fix to action build deploy prod
  .github/workflows/publish-prod.yaml
Due: none

fix(actions) fix to action build deploy prod (#19)
  .github/workflows/publish-prod.yaml
Due: none

feat(components): implement footer
  public/icons/github-icon.png
  public/icons/reddit-icon.png
  public/icons/telegram-icon.png
  public/icons/twitter-white-icon.png
  src/components/Layout/index.tsx
  src/config/constants/footer.ts
  src/config/constants/index.ts
  src/config/index.ts
Due: eslint --fix, git add .

fix(config): fix buid
  tsconfig.json
Due: git add ., prettier --write

ci(k8s): add create namespace action
  makefile
Due: none

feat(social-media): add social-media resources
  public/android-icon-144x144.png
  public/android-icon-192x192.png
  public/android-icon-36x36.png
  public/android-icon-48x48.png
  public/android-icon-72x72.png
  public/android-icon-96x96.png
  public/apple-icon-114x114.png
  public/apple-icon-120x120.png
  public/apple-icon-144x144.png
  public/apple-icon-152x152.png
  public/apple-icon-180x180.png
  public/apple-icon-57x57.png
  public/apple-icon-60x60.png
  public/apple-icon-72x72.png
  public/apple-icon-76x76.png
  public/apple-icon-precomposed.png
  public/apple-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon-96x96.png
  public/favicon.ico
  public/images/preview-image.png
  public/logos/edenia-isotipo-grey.png
  public/manifest.json
  public/ms-icon-144x144.png
  public/ms-icon-150x150.png
  public/ms-icon-310x310.png
  public/ms-icon-70x70.png
  src/components/Layout/index.tsx
  src/config/constants/footer.ts
  src/config/seo/index.ts
  src/config/theme/index.ts
Due: eslint --fix, git add ., prettier --write

feat(pages): create voter page
  package.json
  public/icons/telegram-grey-icon.png
  src/components/SearchBar/index.tsx
  src/components/SearchBar/styles.ts
  src/components/Voters/Body/index.tsx
  src/components/Voters/Body/styles.ts
  src/components/Voters/Head/index.tsx
  src/components/Voters/Head/styles.ts
  src/components/index.ts
  src/config/seo/index.ts
  src/pages/voters/index.tsx
  src/pages/voters/styles.ts
  yarn.lock
Due: eslint --fix, git add ., prettier --write

fix(actions): Rollback manual execution on action publish release to production environment
  .github/workflows/publish-prod.yaml
Due: none

fix(actions): update version for loggin task in action
  .github/workflows/publish-prod.yaml
Due: none

feat(pages): create vote page
  package.json
  public/icons/link-icon.png
  public/icons/sort-icon.png
  src/components/SortComponent/index.tsx
  src/components/SortComponent/styles.ts
  src/components/Vote/Body/index.tsx
  src/components/Vote/Body/styles.ts
  src/components/Vote/Head/index.tsx
  src/components/Vote/Head/styles.ts
  src/components/Voters/Body/index.tsx
  src/components/index.ts
  src/pages/vote/index.tsx
  src/pages/vote/styles.ts
  src/pages/voters/styles.ts
  yarn.lock
Due: eslint --fix, git add ., prettier --write

feat(pages): create vote page
  src/components/Vote/Body/index.tsx
Due: eslint --fix, git add .

feat(webapp): hide or show appbar and sidebar WIP
  src/components/Layout/Container/index.tsx
  src/components/Layout/Footer/index.tsx
  src/components/Layout/Footer/styles.ts
  src/components/Layout/Header/index.tsx
  src/components/Layout/index.tsx
  src/components/Layout/styles.ts
  src/components/Sidebar/index.tsx
  src/components/Sidebar/styles.ts
  src/context/state.context.tsx
  src/global.css
  src/pages/_app.tsx
  src/pages/styles.ts
Due: eslint --fix, git add .

feat(webapp): add context
  package.json
  src/@types/context.ts
  src/@types/ual.ts
  src/config/index.ts
  src/config/wallet/index.ts
  src/context/state.context.tsx
  src/hooks/useUAL/index.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  yarn.lock
Due: eslint --fix, git add ., prettier --write

feat(webapp): layout refactor WIP
  src/components/Layout/Footer/index.tsx
  src/components/Layout/Footer/styles.ts
  src/components/Layout/Header/styles.ts
  src/components/Layout/index.tsx
  src/components/Layout/styles.ts
Due: eslint --fix, git add .

feat(webapp): add context, UAL hook and logic to login
  src/@types/context.ts
  src/components/AuthUAL/index.tsx
  src/components/AuthUAL/styles.ts
  src/components/AuthUAL/useAuthUAL.hook.ts
  src/components/Home/Body/index.tsx
  src/components/Layout/Container/index.tsx
  src/components/Layout/Footer/styles.ts
  src/components/Layout/Header/styles.ts
  src/components/Layout/index.tsx
  src/components/Layout/styles.ts
  src/components/Sidebar/index.tsx
  src/config/constants/footer.ts
  src/context/state.context.tsx
  src/global.css
  src/hooks/index.ts
  src/hooks/sizes/index.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/styles.ts
Due: eslint --fix, git add .

feat(webapp): clean code
  src/components/Layout/Footer/styles.ts
  src/components/Layout/Header/index.tsx
  src/components/Layout/Header/styles.ts
Due: eslint --fix, git add .

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

feat(webapp): update env variables
  .env.example
  .eslintrc.json
Due: git add ., prettier --write

feat(webapp): codefactor review
  src/components/Layout/index.tsx
  src/hooks/useUAL/index.tsx
  src/pages/_app.tsx
Due: eslint --fix, git add .

feat(webapp): codefactor review
  src/components/Layout/index.tsx
Due: eslint --fix, git add .

feat(webapp): add overflow scroll to main content
  src/components/AuthUAL/index.tsx
  src/components/Layout/styles.ts
Due: eslint --fix, git add .

feat(webapp): remove commented code
  src/@types/context.ts
  src/@types/ual.ts
  src/components/Layout/Footer/index.tsx
  src/components/Vote/Body/index.tsx
  src/pages/styles.ts
Due: eslint --fix, git add .

feat(webapp): remove commented code
  src/components/Voters/Body/index.tsx
Due: eslint --fix, git add .

feat(pages): load data on voters page
  src/components/Voters/Body/index.tsx
  src/config/constants/electionRank.ts
  src/config/constants/index.ts
  src/utils/atomicassets.ts
  src/utils/smart-proxy.ts
Due: eslint --fix, git add .

feat(pages): WIP voters pages
  package.json
  public/icons/cheifdelegate-icon.png
  public/icons/lv1-icon.png
  public/icons/lv2-icon.png
  public/icons/lv3-icon.png
  public/icons/ref-icon.png
  src/components/Layout/Container/index.tsx
  src/components/Layout/styles.ts
  src/components/Vote/Body/index.tsx
  src/components/Voters/Body/index.tsx
  src/utils/atomicassets.ts
  src/utils/smart-proxy.ts
  yarn.lock
Due: eslint --fix, git add ., prettier --write

fix(webapp): send element event
  src/components/AuthUAL/index.tsx
  src/config/sdk.ts
Due: eslint --fix, git add .

fix(webapp): supdate env varaibles
  .env.example
Due: none

fix(webapp): git content for pages
  src/components/Layout/styles.ts
Due: eslint --fix, git add .

fix(webapp): fix content layout min height
  src/components/Layout/Container/index.tsx
  src/components/Layout/styles.ts
Due: eslint --fix, git add .

fix(webapp): fix content layout min height
  src/components/Layout/styles.ts
  src/pages/_app.tsx
Due: eslint --fix, git add .

feat(webapp): validate if member have delegate their vote to the proxy
  .env.example
  .github/workflows/publish-prod.yaml
  Dockerfile
  makefile
  public/icons/chiefdelegate-icon.png
  public/icons/circle-icon.png
  src/config/sdk.ts
  src/utils/atomicassets.ts
  src/utils/eosio.ts
  src/utils/genesis-eden.ts
  src/utils/index.ts
Due: eslint --fix, git add .

feat(webapp): add sidebar and menu styling
  src/components/LanguageSelector/index.tsx
  src/components/LanguageSelector/styles.ts
  src/components/Layout/Header/index.tsx
  src/components/Layout/Header/styles.ts
  src/components/Sidebar/About.svg.tsx
  src/components/Sidebar/Vote.svg.tsx
  src/components/Sidebar/Voter.svg.tsx
  src/components/Sidebar/index.tsx
  src/components/Sidebar/styles.ts
  src/components/Voters/Body/index.tsx
Due: eslint --fix, git add .
