Repository edenia/eden-smart-proxy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, git add ., prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["eslint --fix", "git add ."],
  "*.json": ["prettier --write", "git add ."],
  "*.md": ["prettier --write", "git add ."]
}

feat(pages): added loader progress bar
  src/components/AuthUAL/index.tsx
  src/components/AuthUAL/styles.ts
Due: eslint --fix, git add .

fix(pages): user login management
  src/components/AuthUAL/index.tsx
  src/components/AuthUAL/useAuthUAL.hook.ts
  src/components/Home/Body/index.tsx
  src/components/Sidebar/index.tsx
  src/components/Vote/Body/index.tsx
  src/context/state.context.tsx
  src/pages/vote/index.tsx
Due: eslint --fix, git add .

feat(content): fixed typo
  src/pages/vote/index.tsx
Due: eslint --fix, git add .

fix(content): fixed typo
  src/components/Vote/Head/index.tsx
Due: eslint --fix, git add .

feat(webapp): update about content page
  public/locales/cn/common.json
  public/locales/es/common.json
  public/locales/kr/common.json
  src/components/LanguageSelector/index.tsx
  src/config/i18n/index.tsx
  src/pages/about/index.tsx
  src/pages/about/styles.ts
Due: eslint --fix, git add ., prettier --write

fix(webapp): resolve locale language routes
  next-i18next.config.js
  next.config.js
Due: eslint --fix, git add .

fix(webapp): add locale Korean language
  next-i18next.config.js
  next.config.js
  public/locales/cn/common.json
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/ko/common.json
  src/components/LanguageSelector/index.tsx
  src/config/i18n/index.tsx
Due: eslint --fix, git add ., prettier --write

fix(homepage): add homepage button and improve user login state
  public/locales/cn/common.json
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/ko/common.json
  src/components/AuthUAL/useAuthUAL.hook.ts
  src/components/Home/Body/index.tsx
  src/components/Sidebar/index.tsx
  src/context/state.context.tsx
Due: eslint --fix, git add ., prettier --write

feat(components): create spinner component
  package.json
  public/icons/spinner.svg
  src/components/AuthUAL/index.tsx
  src/components/Home/Body/styles.ts
  src/components/ImageLoad/index.tsx
  src/components/Spinner/index.tsx
  src/components/Spinner/styles.ts
  src/components/Voters/Body/index.tsx
  src/components/index.ts
  src/pages/vote/index.tsx
  yarn.lock
Due: eslint --fix, git add ., prettier --write

feat(components): create spinner component
  src/components/AuthUAL/index.tsx
Due: eslint --fix, git add .

feat(components): create spinner component
  src/components/ImageLoad/index.tsx
Due: eslint --fix, git add .

feat(components): improved sidebar clicks interation
  src/components/Layout/Footer/index.tsx
  src/components/Sidebar/index.tsx
  src/components/Sidebar/styles.ts
Due: eslint --fix, git add .

feat(content): add bpjson content
  src/config/constants/bpjson.ts
Due: eslint --fix, git add .

fix(webapp): update footer text
  src/components/Layout/Footer/index.tsx
Due: eslint --fix, git add .

fix(components): prettier conflict
  src/components/Layout/Footer/index.tsx
Due: eslint --fix, git add .

feat(content): added i18n content
  public/locales/cn/common.json
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/ko/common.json
  src/components/Layout/Footer/index.tsx
  src/components/Layout/Footer/styles.ts
  src/components/Layout/Header/index.tsx
  src/components/SearchBar/index.tsx
  src/components/Vote/Body/index.tsx
  src/components/Vote/Head/index.tsx
  src/components/Voters/Body/index.tsx
  src/pages/vote/index.tsx
Due: eslint --fix, git add ., prettier --write

fix(content): fixed typos
  public/locales/cn/common.json
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/ko/common.json
  src/components/Vote/Body/index.tsx
Due: eslint --fix, git add ., prettier --write

feat(pages): added spinner component from eden-ui-kit
  package.json
  src/components/AuthUAL/index.tsx
  src/components/ImageLoad/index.tsx
  src/components/Spinner/index.tsx
  src/components/Spinner/styles.ts
  src/components/Voters/Body/index.tsx
  src/components/index.ts
  src/pages/vote/index.tsx
  yarn.lock
Due: eslint --fix, git add ., prettier --write

fix(webapp): Integrate EDEN api and graphql
  package.json
  src/components/Voters/Body/index.tsx
  src/config/graphqlConfig/index.ts
  src/config/index.ts
  src/graphql.ts
  src/pages/_app.tsx
  yarn.lock
Due: eslint --fix, git add ., prettier --write

fix(webapp): clean code
  src/components/Voters/Body/index.tsx
Due: eslint --fix, git add .

fix(webapp): add sort, search and debounce hook
  src/@types/member.ts
  src/components/Voters/Body/index.tsx
  src/components/Voters/Head/index.tsx
  src/gql/voters.gql.ts
  src/hooks/useDebounce/index.ts
  src/pages/voters/index.tsx
Due: eslint --fix, git add .

fix(webapp): clean graphql code
  src/graphql.ts
Due: eslint --fix, git add .

feat(voter): create proxy voter cron job script
  .github/workflows/publish-prod.yaml
  .gitignore
  k8s/voter.cronjob.yml
  makefile
  utils/meta.mk
  voter/Dockerfile
  voter/package.json
  voter/src/config/eos.config.js
  voter/src/config/index.js
  voter/src/index.js
  voter/src/utils/eos.util.js
  voter/yarn.lock
Due: eslint --fix, git add ., prettier --write

feat(voter): create proxy voter cron job script
  makefile
Due: none

fix(contracts): use right vector
  contracts/smartproxy/src/smartproxy.cpp
Due: none

fix(voter): create proxy voter cron job script
  .github/workflows/publish-prod.yaml
Due: none

fix(voter): create proxy voter cron job script
  voter/src/index.js
Due: eslint --fix, git add .

fix(webapp): change sort by property
  src/components/Voters/Body/index.tsx
Due: eslint --fix, git add .

feat(components): improve spinner timer in imgLoading
  src/components/ImageLoad/index.tsx
  src/components/Voters/Body/index.tsx
Due: eslint --fix, git add .

fix(webapp): fix issue related data modeled and get data from hasura
  public/locales/ko/common.json
  src/components/Voters/Body/index.tsx
  src/gql/voters.gql.ts
  src/utils/genesis-eden.ts
Due: eslint --fix, git add ., prettier --write

fix(webapp): auto code review
  src/utils/genesis-eden.ts
Due: eslint --fix, git add .

fix(webapp): rename members query
  src/components/Voters/Body/index.tsx
  src/gql/voters.gql.ts
Due: eslint --fix, git add .

fix(webapp): use correct value for election rank array
  src/components/Voters/Body/index.tsx
  src/gql/voters.gql.ts
Due: eslint --fix, git add .

feat(pages): consuming get-producers-info api
  src/pages/vote/index.tsx
  src/utils/bps.ts
  src/utils/index.ts
Due: eslint --fix, git add .

feat(config): added producers info api url var to env file
  .env.example
  .github/workflows/publish-prod.yaml
  Dockerfile
  makefile
  src/config/sdk.ts
  src/utils/bps.ts
Due: eslint --fix, git add .
