Repository edenia/eden-smart-proxy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, git add ., prettier --write

feat(pages): update content
  public/locales/en/common.json
  public/locales/es/common.json
Due: git add ., prettier --write

fix(webapp): add twitter card
  package.json
  src/components/Home/Bottom/index.tsx
  src/components/Home/Bottom/styles.ts
  src/components/Layout/index.tsx
  src/pages/styles.ts
  yarn.lock
Due: eslint --fix, git add ., prettier --write

fix(webapp): resize page
  src/pages/styles.ts
Due: eslint --fix, git add .

feat(pages): improve members loading data
  src/components/Voters/Body/index.tsx
  src/pages/vote/index.tsx
Due: eslint --fix, git add .

content(pages): updated about page
  public/locales/en/common.json
  public/locales/es/common.json
  src/pages/about/index.tsx
  src/pages/about/styles.ts
Due: eslint --fix, git add ., prettier --write

fix(pages): don't show inactive members
  src/components/Voters/Body/index.tsx
Due: eslint --fix, git add .

feat(pages): improved bp view on vote page
  public/logos/no-logo.png
  src/components/Vote/Body/index.tsx
  src/config/constants/bpjson.ts
Due: eslint --fix, git add .

fix(webapp): remove wallet provider menu dropdown
  src/components/AuthUAL/index.tsx
  src/components/AuthUAL/styles.ts
Due: eslint --fix, git add .

feat(pages): apply changes on bp in vote page
  package.json
  src/components/Voters/Body/index.tsx
  yarn.lock
Due: eslint --fix, git add ., prettier --write

fix(webapp): add hook for handle image load
  package.json
  public/images/transparent.svg
  public/images/user.svg
  src/@types/context.ts
  src/components/ImageLoad/index.tsx
  src/components/Vote/Body/index.tsx
  src/components/Vote/Body/styles.ts
  src/components/Voters/Body/index.tsx
  src/components/Voters/Body/styles.ts
  src/components/index.ts
  src/context/state.context.tsx
  src/hooks/useImageLoading/index.tsx
  yarn.lock
Due: eslint --fix, git add ., prettier --write

feat(components): add total eos votes delegate on header app
  package.json
  src/components/Layout/Header/index.tsx
  src/components/Layout/Header/styles.ts
  src/utils/eosio.ts
  yarn.lock
Due: eslint --fix, git add ., prettier --write

feat(pages): improved voter page
  package.json
  public/icons/like-icon.png
  public/icons/voting-for-other-icon.png
  public/locales/en/common.json
  public/locales/es/common.json
  src/components/Layout/Header/index.tsx
  src/components/Voters/Body/index.tsx
  src/components/Voters/Body/styles.ts
  src/components/Voters/Head/index.tsx
  src/pages/vote/index.tsx
  src/utils/eosio.ts
  src/utils/genesis-eden.ts
  yarn.lock
Due: eslint --fix, git add ., prettier --write

feat(pages): improved voter page
  src/components/Voters/Body/index.tsx
Due: eslint --fix, git add .

feat(pages): apply spenner
  public/icons/spinner.gif
  src/components/ImageLoad/index.tsx
  src/components/Vote/Body/index.tsx
  src/components/Voters/Body/index.tsx
  src/hooks/useImageLoading/index.tsx
Due: eslint --fix, git add .

feat(pages): apply spenner
  src/components/Vote/Body/index.tsx
  src/components/Voters/Body/index.tsx
Due: eslint --fix, git add .

fix(webapp): rename vote weight text
  src/components/Voters/Body/index.tsx
Due: eslint --fix, git add .

feat(components): add footer links
  src/components/Vote/Head/index.tsx
  src/config/constants/footer.ts
Due: eslint --fix, git add .

feat(components): load total proxied votes
  public/locales/en/common.json
  public/locales/es/common.json
  src/components/Layout/Header/index.tsx
  src/utils/eosio.ts
Due: eslint --fix, git add ., prettier --write

docs(readme): update vote weight calulcation
  README.md
Due: git add ., prettier --write

fix(components): showed delegate button
  src/components/Layout/Header/index.tsx
Due: eslint --fix, git add .

feat(content): change github link
  src/config/constants/footer.ts
Due: eslint --fix, git add .

feat(pages): remove voting validation
  src/pages/vote/index.tsx
Due: eslint --fix, git add .

feat(pages): increased Pagination to show 30 BPs
  src/pages/vote/index.tsx
Due: eslint --fix, git add .

fix(webapp): move about option to top in sidebar menu
  src/components/Sidebar/index.tsx
Due: eslint --fix, git add .

fix(webapp): add vote weight
  src/components/Layout/Header/index.tsx
  src/components/Voters/Body/index.tsx
  src/utils/genesis-eden.ts
Due: eslint --fix, git add .

fix(webapp): code factor review
  src/components/Voters/Body/index.tsx
Due: eslint --fix, git add .

feat(webapp): load members from microchain
  .env.example
  package.json
  src/components/BaseSnackbar/style.ts
  src/components/Voters/Body/index.tsx
  src/config/sdk.ts
  src/interfaces/index.ts
  src/interfaces/members.ts
  src/interfaces/ntf.ts
  src/pages/_app.tsx
  src/utils/eos.ts
  src/utils/formatters.ts
  src/utils/index.ts
  src/utils/ipfs.ts
  yarn.lock
Due: eslint --fix, git add ., prettier --write

feat(devops): add deployment variables
  .env.example
  .github/workflows/publish-prod.yaml
  Dockerfile
  makefile
  src/components/Voters/Body/index.tsx
Due: eslint --fix, git add .

fix(webapp): fix twitter card for mobile version and styling footer
  src/components/Home/Bottom/styles.ts
  src/components/Layout/Footer/index.tsx
  src/components/Layout/Footer/styles.ts
  src/utils/genesis-eden.ts
Due: eslint --fix, git add .

fix(webapp): fix twitter card for mobile version and styling footer (#121)
  src/components/Home/Bottom/styles.ts
  src/components/Layout/Footer/index.tsx
  src/components/Layout/Footer/styles.ts
  src/utils/genesis-eden.ts
Due: eslint --fix, git add .

perf(contract): update voting weight formula
  README.md
  contracts/smartproxy/include/smartproxy.hpp
  contracts/smartproxy/src/smartproxy.cpp
  contracts/smartproxy/tests/tests.cpp
Due: git add ., prettier --write

refactor(contract): clean code
  contracts/smartproxy/src/smartproxy.cpp
Due: none

feat(pages): added selected all bps function
  src/components/SortComponent/styles.ts
  src/components/Vote/Body/index.tsx
  src/components/Vote/Body/styles.ts
  src/pages/vote/index.tsx
Due: eslint --fix, git add .

fix(pages): validated eden menber login
  public/locales/en/common.json
  public/locales/es/common.json
  src/components/AuthUAL/index.tsx
  src/components/AuthUAL/useAuthUAL.hook.ts
  src/components/Home/Body/index.tsx
  src/components/Sidebar/index.tsx
  src/context/state.context.tsx
  src/utils/smart-proxy.ts
Due: eslint --fix, git add ., prettier --write

feat(components): updated user preview component in sidebar
  src/components/Sidebar/index.tsx
Due: eslint --fix, git add .

feat(components): fixed sidebar breakpoints
  package.json
  src/components/AuthUAL/useAuthUAL.hook.ts
  src/components/Sidebar/index.tsx
  src/components/Sidebar/styles.ts
  yarn.lock
Due: eslint --fix, git add ., prettier --write

feat(webapp): update social media preview images
  README.md
  docs/images/EDEN_Smart_Proxy_Preview.png
  public/images/logo-256.png
Due: git add ., prettier --write

feat(content): updated some assets
  public/favicon.ico
  public/images/bg-home.jpg
  public/images/bg-home.png
  public/logos/eden-proxy-logo.png
  src/config/constants/footer.ts
  src/pages/index.tsx
Due: eslint --fix, git add .

feat(webapp): update github link
  src/pages/about/index.tsx
Due: eslint --fix, git add .

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  git add .: ((any of: *.{js,ts,tsx}) or (any of: *.json)) or (any of: *.md)
  prettier --write: (any of: *.json) or (any of: *.md)
