Repository edenia/eden-smart-proxy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, git add ., prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["eslint --fix", "git add ."],
  "*.json": ["prettier --write", "git add ."],
  "*.md": ["prettier --write", "git add ."]
}

feat(webapp): add route
  src/components/Sidebar/index.tsx
Due: eslint --fix, git add .

feat(pages): create vote interaction flow
  package.json
  public/icons/bad-icon.png
  public/icons/good-icon.png
  src/components/BaseSnackbar/index.tsx
  src/components/Vote/Body/index.tsx
  src/components/index.ts
  src/config/constants/footer.ts
  src/pages/vote/index.tsx
  src/utils/smart-proxy.ts
  yarn.lock
Due: eslint --fix, git add ., prettier --write

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

feat(components): improvement header and add delegate vote
  public/icons/like-white-icon.png
  src/components/Layout/Footer/index.tsx
  src/components/Layout/Footer/styles.ts
  src/components/Layout/Header/index.tsx
  src/components/Layout/Header/styles.ts
Due: eslint --fix, git add .

feat(components): load user data in sidebar
  src/components/Layout/Footer/index.tsx
  src/components/Sidebar/index.tsx
  src/components/Sidebar/styles.ts
Due: eslint --fix, git add .

feat(components): add delegate vote function
  src/components/BaseSnackbar/index.tsx
  src/components/BaseSnackbar/style.ts
  src/components/Layout/Header/index.tsx
  src/components/Layout/index.tsx
  src/components/Sidebar/index.tsx
Due: eslint --fix, git add .

feat(contracts): update formula to calculate voter weight
  contracts/smartproxy/include/smartproxy.hpp
  contracts/smartproxy/src/smartproxy.cpp
  contracts/smartproxy/tests/tests.cpp
Due: none

feat(components): load by pagination data
  src/components/Voters/Body/index.tsx
  src/components/Voters/Body/styles.ts
  src/pages/vote/index.tsx
  src/pages/vote/styles.ts
  src/utils/smart-proxy.ts
Due: eslint --fix, git add .

feat(webapp): get bp stats
  src/utils/smart-proxy.ts
Due: eslint --fix, git add .

fix(webapp): home page mobile version
  src/components/Home/Body/index.tsx
  src/components/Home/Body/styles.ts
  src/components/Home/Bottom/styles.ts
  src/components/LanguageSelector/styles.ts
  src/pages/styles.ts
  yarn.lock
Due: eslint --fix, git add .

fix(webapp): voters page mobile version
  src/components/Layout/Header/index.tsx
  src/components/Layout/Header/styles.ts
  src/components/SearchBar/styles.ts
  src/components/Voters/Body/styles.ts
  src/components/Voters/Head/index.tsx
  src/components/Voters/Head/styles.ts
Due: eslint --fix, git add .

fix(webapp): code factor error
  src/components/Layout/Header/index.tsx
Due: eslint --fix, git add .

feat(pages): load proxy score in vote page
  public/icons/circle-icon.png
  src/components/Vote/Body/index.tsx
  src/components/Voters/Body/index.tsx
  src/config/constants/electionRank.ts
  src/config/constants/index.ts
  src/pages/vote/index.tsx
Due: eslint --fix, git add .

fix(webapp): add header breakpoint for mobile
  src/components/SortComponent/styles.ts
  src/components/Vote/Head/index.tsx
  src/components/Vote/Head/styles.ts
Due: eslint --fix, git add .

feat(pages): load vote state in voters page
  public/icons/not-voting-icon.png
  public/icons/yes-voting-icon.png
  src/components/Voters/Body/index.tsx
Due: eslint --fix, git add .

feat(code): clean code
  src/components/AuthUAL/useAuthUAL.hook.ts
  src/components/Voters/Body/index.tsx
  src/hooks/useUAL/index.tsx
  src/utils/atomicassets.ts
Due: eslint --fix, git add .

feat(code): clean code
  src/components/Voters/Body/index.tsx
Due: eslint --fix, git add .

fix(webapp): add BP item breakpoint for mobile
  src/components/Vote/Body/styles.ts
Due: eslint --fix, git add .

fix(webapp): add vote page breakpoint for mobile
  src/components/Vote/Body/index.tsx
  src/components/Vote/Body/styles.ts
Due: eslint --fix, git add .

fix(webapp): clean code
  src/components/Vote/Body/index.tsx
  src/components/Vote/Body/styles.ts
Due: eslint --fix, git add .

feat(page): create about page
  src/components/Layout/Footer/index.tsx
  src/components/Layout/index.tsx
  src/components/Voters/Body/index.tsx
  src/pages/about/index.tsx
  src/pages/about/styles.ts
  src/pages/vote/index.tsx
  src/utils/smart-proxy.ts
Due: eslint --fix, git add .

fix(webapp): remove sidebar build error
  src/components/Layout/index.tsx
  src/components/Layout/styles.ts
  src/components/Sidebar/index.tsx
  src/components/Sidebar/styles.ts
Due: eslint --fix, git add .

feat(pages): load bp json data by bps
  package.json
  src/components/Home/Body/index.tsx
  src/components/Layout/Footer/index.tsx
  src/components/Layout/Header/index.tsx
  src/components/Layout/index.tsx
  src/components/Vote/Body/index.tsx
  src/components/Voters/Body/index.tsx
  src/config/constants/bpjson.ts
  src/config/constants/index.ts
  src/config/constants/socialMediaLink.ts
  src/pages/vote/index.tsx
  yarn.lock
Due: eslint --fix, git add ., prettier --write

fix(webapp): resolve error related children node into _app.tsx
  package.json
  src/components/Layout/index.tsx
  tsconfig.json
  yarn.lock
Due: eslint --fix, git add ., prettier --write

fix(webapp): ignore build error
  next.config.js
  package.json
  yarn.lock
Due: eslint --fix, git add ., prettier --write

fix(env files): update envars
  .env.example
  .github/workflows/publish-prod.yaml
Due: none

fix(pages): vote user flow
  src/components/Vote/Body/index.tsx
  src/pages/vote/index.tsx
Due: eslint --fix, git add .

feat(pages): vote section loading if user don't login
  src/components/Vote/Body/index.tsx
  src/config/constants/socialMediaLink.ts
Due: eslint --fix, git add .

feat(pages): apply search function on voters page
  src/components/SearchBar/index.tsx
  src/components/Voters/Body/index.tsx
  src/components/Voters/Head/index.tsx
  src/components/Voters/Head/styles.ts
  src/pages/voters/index.tsx
Due: eslint --fix, git add .

feat(pages): apply search function on voters page
  src/components/Voters/Body/index.tsx
Due: eslint --fix, git add .

feat(pages): apply search function on vote page
  src/components/SearchBar/index.tsx
  src/components/Vote/Head/index.tsx
  src/components/Voters/Head/index.tsx
  src/pages/vote/index.tsx
Due: eslint --fix, git add .

fix(webapp): implement i18n
  public/locales/en/common.json
  public/locales/es/common.json
  src/components/Home/Body/index.tsx
  src/components/LanguageSelector/index.tsx
  src/components/LanguageSelector/styles.ts
  src/components/Layout/Header/index.tsx
  src/components/Sidebar/index.tsx
  src/components/Voters/Body/index.tsx
  src/components/Voters/Head/index.tsx
  src/pages/about/index.tsx
  src/pages/index.tsx
  src/pages/vote/index.tsx
  src/pages/voters/index.tsx
Due: eslint --fix, git add ., prettier --write

fix(webapp): code review
  public/locales/en/common.json
  public/locales/es/common.json
  src/components/Layout/Header/index.tsx
Due: eslint --fix, git add ., prettier --write

fix(webapp): add logic to logout user
  public/locales/en/common.json
  public/locales/es/common.json
  src/@types/context.ts
  src/components/AuthUAL/index.tsx
  src/components/Home/Body/index.tsx
  src/components/Sidebar/index.tsx
  src/components/Sidebar/styles.ts
  src/context/state.context.tsx
  src/hooks/useUAL/index.tsx
Due: eslint --fix, git add ., prettier --write

fix(webapp): update sidebar members text
  public/locales/en/common.json
Due: git add ., prettier --write

fix(contract): update smart contract messages
  .gitignore
  contracts/smartproxy/src/smartproxy.cpp
Due: none

fix(contract): update smart contract messages (#72)
  .gitignore
  contracts/smartproxy/src/smartproxy.cpp
Due: none

perf(contract): update text errors in unit tests
  contracts/smartproxy/src/smartproxy.cpp
  contracts/smartproxy/tests/tests.cpp
Due: none

feat(pages): apply sort function in vote page
  public/locales/en/common.json
  public/locales/es/common.json
  src/components/SortComponent/index.tsx
  src/components/SortComponent/styles.ts
  src/components/Vote/Body/index.tsx
  src/components/Vote/Head/index.tsx
  src/components/Vote/Head/styles.ts
  src/pages/vote/index.tsx
Due: eslint --fix, git add ., prettier --write

feat(pages): apply validation delegate vote
  public/locales/en/common.json
  public/locales/es/common.json
  src/components/Layout/Header/index.tsx
  src/components/Vote/Body/index.tsx
  src/pages/vote/index.tsx
Due: eslint --fix, git add ., prettier --write
