Repository edenia/eden-smart-proxy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, git add ., prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["eslint --fix", "git add ."],
  "*.json": ["prettier --write", "git add ."],
  "*.md": ["prettier --write", "git add ."]
}

Add (devops): Build and deploy development environment
  .github/workflows/publish-dev.yaml
  k8s-dev/deployment.yml
  k8s-dev/ingress.yml
  k8s-dev/service.yml
  k8s-dev/voter.cronjob.yml
  k8s-pdn/deployment.yml
  k8s-pdn/ingress.yml
  k8s-pdn/service.yml
  k8s-pdn/voter.cronjob.yml
  makefile
  utils/meta.mk
Due: none

Add (devops): fix in makefile
  makefile
Due: none

fix (devops): fix in makefile and number of replias
  k8s-dev/deployment.yml
  makefile
Due: none

fix (devops): fix on k8s folder find function
  utils/meta.mk
Due: none

fix(webapp): change to variable the url for graphqlConfig
  .github/workflows/publish-dev.yaml
  .github/workflows/publish-prod.yaml
  src/config/graphqlConfig/index.ts
Due: eslint --fix, git add .

fix(webapp): change to variable the url for graphqlConfig
  Dockerfile
Due: none

fix(webapp): change to variable the url for graphqlConfig
  .env.example
  .github/workflows/publish-dev.yaml
  src/config/graphqlConfig/index.ts
Due: eslint --fix, git add .

fix(webapp): change to variable the url for graphqlConfig
  makefile
Due: none

fix(webapp): change sign in button text
  public/locales/en/common.json
Due: git add ., prettier --write

fix(webapp): change to variable the url for graphqlConfig
  src/config/graphqlConfig/index.ts
Due: eslint --fix, git add .

fix(webapp): change to variable the url for graphqlConfig
  .github/workflows/publish-dev.yaml
Due: none

fix(webapp): fix endpoit graphql dev
  .github/workflows/publish-dev.yaml
Due: none

fix(webapp): fix code to url graphql dev
  src/config/graphqlConfig/index.ts
Due: eslint --fix, git add .

fix(webapp): fix code to url graphql dev
  .github/workflows/publish-dev.yaml
  src/config/graphqlConfig/index.ts
Due: eslint --fix, git add .

fix(webapp): change url for eden-members and block explorer for env variables
  .github/workflows/publish-dev.yaml
  .github/workflows/publish-prod.yaml
  Dockerfile
  src/components/Voters/Body/index.tsx
Due: eslint --fix, git add .

fix(webapp): fix variables in makefile
  makefile
  src/components/Voters/Body/index.tsx
Due: eslint --fix, git add .

fix(webapp): fix variables in makefile
  makefile
Due: none

fix(webapp): Chinese Button Label Translation
  public/locales/cn/common.json
Due: git add ., prettier --write

feat(env-file): added needed envars to .env.example
  .env.example
Due: none

feat(pages): added telegram link to voters page
  src/components/Voters/Body/index.tsx
  src/components/Voters/Body/styles.ts
Due: eslint --fix, git add .

feat(pages): added telegram link to voters page
  src/components/Voters/Body/index.tsx
Due: eslint --fix, git add .

feat(constants): added new item to footer resources
  src/config/constants/footer.ts
Due: eslint --fix, git add .

feat(content): updated i18n content files
  public/locales/cn/common.json
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/ko/common.json
Due: git add ., prettier --write

feat(config): changed preview image
  public/images/preview-image.jpg
  public/images/preview-image.png
  src/config/seo/index.ts
Due: eslint --fix, git add .

feat(config): changed meta description text
  src/config/seo/index.ts
Due: eslint --fix, git add .

feat(webapp): add new tweet to homepage
  src/components/Home/Bottom/index.tsx
Due: eslint --fix, git add .

fix(webapp): fix add new tweet to homepage
  src/components/Home/Bottom/index.tsx
Due: eslint --fix, git add .

fix(webapp): replace whitepaper for litepaper
  public/locales/en/common.json
Due: git add ., prettier --write

feat(pages): improved homepage tweets styles
  src/components/Home/Bottom/styles.ts
Due: eslint --fix, git add .

feat(pages): changed logic litepaper button
  src/components/Home/Body/index.tsx
  src/config/constants/homePage.ts
Due: eslint --fix, git add .

feat(pages): changed tweets components
  package.json
  src/components/Home/Bottom/index.tsx
  src/components/Home/Bottom/styles.ts
  yarn.lock
Due: eslint --fix, git add ., prettier --write

perf(reward): remove unrequired actions
  contracts/docker/builder.Dockerfile
  contracts/proxyreward/include/proxyreward.hpp
  contracts/proxyreward/src/proxyreward.cpp
  contracts/proxyreward/tests/tests-proxyreward.cpp
Due: none
