Repository edenia/eden-smart-proxy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, git add ., prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["eslint --fix", "git add ."],
  "*.json": ["prettier --write", "git add ."],
  "*.md": ["prettier --write", "git add ."]
}

feat(pages): applied the selection to all bps by default
  src/components/Vote/Body/index.tsx
  src/pages/vote/index.tsx
Due: eslint --fix, git add .

fix(header): fixed some interactions
  src/components/Layout/Header/index.tsx
Due: eslint --fix, git add .

feat(components): improved search function
  src/gql/voters.gql.ts
Due: eslint --fix, git add .

content(public): updated en json
  public/locales/en/common.json
Due: git add ., prettier --write

feat(content): updated footer content and links
  src/config/constants/footer.ts
Due: eslint --fix, git add .

feat(components): updated footer content
  src/components/Layout/Footer/index.tsx
Due: eslint --fix, git add .

feat(content): updated language files
  public/locales/cn/common.json
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/ko/common.json
  src/pages/about/index.tsx
Due: eslint --fix, git add ., prettier --write

feat(contracts): proxy reward structure
  contracts/CMakeLists.txt
  contracts/docker/builder.Dockerfile
  contracts/proxyreward/CMakeLists.txt
  contracts/proxyreward/include/proxyreward.hpp
  contracts/proxyreward/src/proxyreward.cpp
  contracts/proxyreward/tests/include/tester-base.hpp
  contracts/proxyreward/tests/tests.cpp
Due: none

perf(contracts): exten proxy reward actions definition
  contracts/proxyreward/include/proxyreward.hpp
  contracts/proxyreward/src/proxyreward.cpp
Due: none

feat(contracts): create first table structure
  contracts/smartproxy/include/smartproxy.hpp
Due: none

refactor(contracts): clean code
  contracts/proxyreward/src/proxyreward.cpp
Due: none

perf(contracts): implement std::variant in tables
  contracts/proxyreward/include/proxyreward.hpp
  contracts/proxyreward/include/utils.hpp
  contracts/proxyreward/src/proxyreward.cpp
Due: none

perf(contracts): add unit test files
  contracts/proxyreward/CMakeLists.txt
  contracts/proxyreward/tests/include/tester-base.hpp
  contracts/proxyreward/tests/tests-proxyreward.cpp
  contracts/proxyreward/tests/tests.cpp
Due: none

feat(pages): Added total votes in vote page
  src/components/Vote/Body/index.tsx
  src/components/Vote/Body/styles.ts
  src/pages/vote/index.tsx
  src/utils/formatters.ts
  src/utils/index.ts
Due: eslint --fix, git add .

feat(pages): added rank to bps info on vote page
  src/components/Vote/Body/index.tsx
  src/pages/vote/index.tsx
Due: eslint --fix, git add .

perf(contracts): add definition to some unit tests
  contracts/proxyreward/src/proxyreward.cpp
  contracts/proxyreward/tests/include/tester-base.hpp
  contracts/proxyreward/tests/tests-proxyreward.cpp
Due: none

content(i18n): updated ko and cn content files
  public/locales/cn/common.json
  public/locales/ko/common.json
Due: git add ., prettier --write

perf(contracts): improve reward contract security
  contracts/docker/builder.Dockerfile
  contracts/proxyreward/include/proxyreward.hpp
  contracts/proxyreward/src/proxyreward.cpp
  contracts/proxyreward/tests/include/tester-base.hpp
  contracts/proxyreward/tests/tests-proxyreward.cpp
Due: none

fix(contracts): add require_auth in the clearall action
  contracts/smartproxy/src/smartproxy.cpp
Due: none

perf(contracts): update contract structure
  contracts/docker/builder.Dockerfile
  contracts/myvoteeosdao/include/myvoteeosdao/myvoteeosdao.hpp
  contracts/smartproxy/CMakeLists.txt
  contracts/smartproxy/include/admin.hpp
  contracts/smartproxy/include/constants.hpp
  contracts/smartproxy/include/smartproxy.hpp
  contracts/smartproxy/include/utils.hpp
  contracts/smartproxy/include/voters.hpp
  contracts/smartproxy/src/actions/admin.cpp
  contracts/smartproxy/src/actions/vote.cpp
  contracts/smartproxy/src/admin.cpp
  contracts/smartproxy/src/smartproxy.cpp
  contracts/smartproxy/src/voters.cpp
  contracts/smartproxy/tests/include/tester-base.hpp
Due: none

feat(pages): added logic to show eosrate stat
  src/components/Vote/Body/index.tsx
  src/pages/vote/index.tsx
Due: eslint --fix, git add .

feat(api): created api to request eosrate stats by bps
  src/pages/api/eosrate-api.ts
  src/utils/generate-api-urls/index.ts
  src/utils/index.ts
Due: eslint --fix, git add .

feat(env.example): added new values
  .env.example
Due: none

perf(contracts): create std variant table structs
  contracts/smartproxy/CMakeLists.txt
  contracts/smartproxy/include/admin.hpp
  contracts/smartproxy/include/communities.hpp
  contracts/smartproxy/include/smartproxy.hpp
  contracts/smartproxy/include/voters.hpp
  contracts/smartproxy/src/actions/admin.cpp
  contracts/smartproxy/src/actions/vote.cpp
  contracts/smartproxy/src/admin.cpp
  contracts/smartproxy/src/communities.cpp
  contracts/smartproxy/src/smartproxy.cpp
  contracts/smartproxy/tests/tests.cpp
Due: none

perf(contracts): update action parameter to new voters struct data
  contracts/smartproxy/include/admin.hpp
  contracts/smartproxy/include/smartproxy.hpp
  contracts/smartproxy/include/voters.hpp
  contracts/smartproxy/src/actions/admin.cpp
  contracts/smartproxy/src/actions/vote.cpp
  contracts/smartproxy/src/admin.cpp
  contracts/smartproxy/src/smartproxy.cpp
  contracts/smartproxy/src/voters.cpp
  contracts/smartproxy/tests/tests.cpp
Due: none

perf(contracts): remove votes when a community is removed
  contracts/smartproxy/include/admin.hpp
  contracts/smartproxy/include/communities.hpp
  contracts/smartproxy/include/smartproxy.hpp
  contracts/smartproxy/include/voters.hpp
  contracts/smartproxy/src/actions/admin.cpp
  contracts/smartproxy/src/actions/vote.cpp
  contracts/smartproxy/src/admin.cpp
  contracts/smartproxy/src/communities.cpp
  contracts/smartproxy/src/voters.cpp
  contracts/smartproxy/tests/tests.cpp
Due: none

perf(contracts): remove community
  contracts/smartproxy/include/communities.hpp
  contracts/smartproxy/include/smartproxy.hpp
  contracts/smartproxy/src/actions/admin.cpp
  contracts/smartproxy/src/actions/vote.cpp
  contracts/smartproxy/src/communities.cpp
  contracts/smartproxy/src/voters.cpp
Due: none

fix(utils): changed form to get api data
  src/utils/bps.ts
Due: eslint --fix, git add .

fix(devops): change versions for deprecated issues
  .github/workflows/publish-prod.yaml
Due: none

feat(pages): added need validation on vote pages
  src/pages/vote/index.tsx
Due: eslint --fix, git add .

feat(config): added need envars to config files
  .github/workflows/publish-prod.yaml
  Dockerfile
  makefile
Due: none

feat(pages): commented eosrate integration
  Dockerfile
  src/pages/vote/index.tsx
Due: eslint --fix, git add .

feat(pages): commented eosrate integration
  src/pages/vote/index.tsx
Due: eslint --fix, git add .

fix(webapp): added bps voted link
  src/components/Voters/Body/index.tsx
Due: eslint --fix, git add .

fix(pages): fixed search response on voters page
  src/components/Voters/Body/index.tsx
Due: eslint --fix, git add .

feat(components): applied content changes
  public/locales/cn/common.json
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/ko/common.json
  src/components/Layout/Footer/index.tsx
Due: eslint --fix, git add ., prettier --write

feat(components): changed delegate vote logic
  src/components/AuthUAL/styles.ts
  src/components/DelegateButton/index.tsx
  src/components/Home/Body/index.tsx
  src/components/Layout/Header/index.tsx
  src/components/index.ts
  src/context/state.context.tsx
Due: eslint --fix, git add .

feat(components): changed delegate vote logic
  src/components/Layout/Header/index.tsx
Due: eslint --fix, git add .
